@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.app {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #ffb5b5;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: calc(10px + 2vmin);
  color: #ff6ba8;
  font-size: 2rem;
  font-family: "Ms Madi", sans-serif;
  font-weight: 900;
}

.content{
  display: flex;
  gap: 20px;
  padding: 10px;
}